.nodata-text{
    text-transform:uppercase;
    font-weight: 800;
    letter-spacing:1pt;
    color: #747474;
    font-size: 30px;
    padding-top: 10px;
}
.nodata-sub-text{
    text-transform:uppercase;
    font-weight: 700;
    letter-spacing:1pt;
    color: #747474;
    font-size: 15px;

}